html {
  box-sizing: border-box;
  height: 100%;  
}

.gallery_wrapper {
  margin: 0 10vw
}

.gallery_ul { 
  list-style: none;
  display: grid;
  grid-gap: 2vh;
  padding: 10px;
  grid-template-columns: repeat(auto-fit,minmax(18em,1fr));
}

.gallery_item img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 3px;
}
