.App {
  color: #dddddd;
}

.post {
  width: 120vh;
  height: 40vh;
  background-color: #282c34;
  margin: 3% auto;
  border-radius: 15px;
  position: relative
}

.photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: 8%;
  margin-left: 5%;
  float: left;
  object-fit: cover;
  position: relative
} 

.user {
  position: relative;
  padding-top: 19%;
  width: 19%;
}

.name {
  display: block;
  margin: 2% 17%;
  width: 65%;
  float: left;
}

.nickname {
  display: inline-block;
  margin: 1%;
  font-size: smaller;
  opacity: 40%;
}

.date {
  display: inline-block;
  margin: 1%;
  font-size: smaller;
  opacity: 40%;
}

.content {
  text-align: left;
  font-size: 15px;
  margin: -19% 0  0 23%;
  width: 70%;
  overflow: scroll;
  height: 28vh;
  position: absolute
}