body {
  background-color: #3c3f51;
}

.App {
  text-align: center;
}

.navigation {
  background-color: #282a34;
  height: 8vh;
  padding-top: 4vh;
  top: 0;
  position:sticky;
  z-index: 1
}

.nav li{
  display: inline;
  list-style-type: none;
  color: white;
}

.nav li a{
  display: inline;
  padding: 5vw;
  text-decoration: none;
  color: #dddddd;
}

li a:hover {
 color: rgb(184, 182, 182);
}


